#header {
  padding-top: 15px;
  border-radius: inherit;
}
#header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 15px;
  z-index: 2;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #056b97;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#header #new-todo {
}
#header #new-todo {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0,0,0,0.02);
  z-index: 2;
}